<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <!-- <a routerLink="/">
                            <img src="assets/img/white-logo.png" alt="image">
                        </a> -->
                        <span><h3>Strategic Initiatives Limited</h3></span>
                        <p>SIL is a private equity and portfolio investment firm, and its main business objective is to
                            promote new business. </p>
                    </div>

                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/sasinvestmentsgh/" target="_blank">
                                <i class="flaticon-facebook-letter-logo"></i>
                            </a>
                        </li>
                        <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-youtube-play-button"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Subsidiaries</h3>

                    <ul class="footer-services-list">
                        <li><a routerLink="/sub/hearts">Accra Hearts of Oak</a></li>
                        <li><a routerLink="/sub/awa">Africa World Airline</a></li>
                        <li><a routerLink="/sub/cloudafrica">Cloud Africa Ghana</a></li>
                        <li><a routerLink="/sub/sas">SAS Finance Group</a></li>
                        <li><a routerLink="/sub/wtcaccra">World Trade Center Accra</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>

                    <ul class="quick-links-list">
                        <li><a href="/about">About Us</a></li>
                        <li><a routerLink="/partner">Partners page</a></li>
                        <li><a routerLink="/blog">Blog page</a></li>
                        <li><a routerLink="/contact">Contact page</a></li>
                        <li><a routerLink="/projects">Projects done</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contacts</h3>

                    <ul class="footer-contact-list">
                        <li><span>Address:</span>14th Floor, WTC Accra Ghana <br/> Independence Avenue</li>
                        <li><span>Email:</span> <a href="#">info@sasghana.com</a></li>
                        <li><span>Phone:</span> <a href="#">+233(0)302 661008</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>&copy; 2020 <a href="#">SIL</a>. All Rights Reserved.</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-map"><img src="assets/img/circle-map.png" alt="image"></div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</footer>
<!-- End Footer Area -->
<div class="go-top"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-up"></i></div>
