<!-- Start Page Title Area -->
<div class="page-title-area item-bg2">
    <div class="container">
        <div class="page-title-content">
            <h2>World Trade Center Accra</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Subsidiary Details</li>
            </ul>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-desc">
                <h3>A Masterpiece in the Sky</h3>
                <p>
                    World Trade Centre Accra (WTC Accra) has established an iconic world-class landmark for international
                    business that would make a lasting impact on the local economy and enhance prosperity.
                </p>

                <p>
                    WTC Accra’s mission is to create a one-stop shop for international trade and investment through a
                    platform of expert services and world class office space; provide linkages between global and local
                    businesses through the worldwide World Trade Centers Association (WTCA) network; and forge alliances
                    to enhance economic growth.
                </p>

                <p>
                    WTC Accra has placed all services associated with global commerce under one roof. It is bringing
                    together businesses and government agencies involved in international trade, providing essential
                    trade services and helping to stimulate the economy of Ghana.

                </p>
            </div>

            <div class="services-details-image wow fadeInUp">
                <a href="http://wtcaccra.com"><img src="assets/img/services-details/wtc-1.png" alt="image"></a>
            </div>
        </div>

        <!--        <div class="services-details-overview">-->
        <!--            <div class="services-details-image wow fadeInUp">-->
        <!--                <img src="assets/img/services-details/2.jpg" alt="image">-->
        <!--            </div>-->

        <!--            <div class="services-details-desc">-->
        <!--                <h3>Information Retrieval</h3>-->
        <!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer.</p>-->

        <!--                <div class="services-details-accordion">-->
        <!--                    <ul class="accordion">-->
        <!--                        <li class="accordion-item">-->
        <!--                            <a class="accordion-title active" href="javascript:void(0)">-->
        <!--                                <i class="fas fa-plus"></i>-->
        <!--                                Which material types can you work with?-->
        <!--                            </a>-->

        <!--                            <p class="accordion-content show">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
        <!--                        </li>-->

        <!--                        <li class="accordion-item">-->
        <!--                            <a class="accordion-title" href="javascript:void(0)">-->
        <!--                                <i class="fas fa-plus"></i>-->
        <!--                                Is Smart Lock required for instant apps?-->
        <!--                            </a>-->

        <!--                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>-->
        <!--                        </li>-->

        <!--                        <li class="accordion-item">-->
        <!--                            <a class="accordion-title" href="javascript:void(0)">-->
        <!--                                <i class="fas fa-plus"></i>-->
        <!--                                Why Choose Our Services In Your Business?-->
        <!--                            </a>-->

        <!--                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</section>
<!-- End Services Details Area -->
