<!-- Start Page Title Area -->
<div class="page-title-area item-bg2">
    <div class="container">
        <div class="page-title-content">
            <h2>Pioneer Kitchenware Limited</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Subsidiary Details</li>
            </ul>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-desc">
                <h3>Incredible Infrastructure</h3>
                <p>Pioneer Kitchenware Limited (PKL) is one of the leading manufacturers of aluminium hollowware
                    products in Ghana, and within the West Africa sub-region. PKL, previously known as Pioneer Aluminium
                    Factory, was incorporated in Ghana by its Swiss founder in 1959. In 1995, the company went public on
                    the Ghana Stock Exchange. In August 2006, the company’s name was changed to Pioneer Kitchenware
                    Limited to reflect the new strategic focus being pursued by the company. SAS Finance Group owns over
                    70% of PKL.</p>

                <p>PKL specializes in the manufacture of high quality household aluminium hollowware. It pioneered the
                    use of aluminium to produce cookware in Ghana under the “Torch brand” which has since become the
                    “Mark of Quality”. PKL’s products, under the Torch brand, are strong market players and over the
                    years have set the trend for consumer preferences for the sizes and shapes of cookware.</p>

                <p>The company has an installed production capacity of over 1,200 metric tonnes per annum, and currently
                    holds over 40% of the market share.</p>
            </div>

            <div class="services-details-image wow fadeInUp">
                <img src="assets/img/services-details/pioneer-1.png" alt="image">
            </div>
        </div>

<!--        <div class="services-details-overview">-->
<!--            <div class="services-details-image wow fadeInUp">-->
<!--                <img src="assets/img/services-details/2.jpg" alt="image">-->
<!--            </div>-->

<!--            <div class="services-details-desc">-->
<!--                <h3>Information Retrieval</h3>-->
<!--                <p>-->
<!--                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
<!--                    industry’s standard dummy text ever since the 1500s, when an unknown printer.-->
<!--                </p>-->

<!--                <div class="services-details-accordion">-->
<!--                    <ul class="accordion">-->
<!--                        <li class="accordion-item">-->
<!--                            <a class="accordion-title active" href="javascript:void(0)">-->
<!--                                <i class="fas fa-plus"></i>-->
<!--                                Which material types can you work with?-->
<!--                            </a>-->

<!--                            <p class="accordion-content show">Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
<!--                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                        </li>-->

<!--                        <li class="accordion-item">-->
<!--                            <a class="accordion-title" href="javascript:void(0)">-->
<!--                                <i class="fas fa-plus"></i>-->
<!--                                Is Smart Lock required for instant apps?-->
<!--                            </a>-->

<!--                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do-->
<!--                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse-->
<!--                                ultrices gravida.</p>-->
<!--                        </li>-->

<!--                        <li class="accordion-item">-->
<!--                            <a class="accordion-title" href="javascript:void(0)">-->
<!--                                <i class="fas fa-plus"></i>-->
<!--                                Why Choose Our Services In Your Business?-->
<!--                            </a>-->

<!--                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do-->
<!--                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse-->
<!--                                ultrices gravida.</p>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>
<!-- End Services Details Area -->
