<!-- Start Page Title Area -->
<div class="page-title-area item-bg2">
    <div class="container">
        <div class="page-title-content">
            <h2>Sunon Asogli Power Limited</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Subsidiary Details</li>
            </ul>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-desc">
                <h3>Efficient Thermal Ernergy Production</h3>
                <p>
                    Top executives of Shenzhen Energy first visited Ghana in late 2006 at the invitation of Togbe Afede
                    XIV to investigate the investment climate and the power market in Ghana.
                </p>

                <p>
                    In December 2007, Shenzhen Energy and CADFUND finally decided to invest in Ghana. Thus, the first
                    independent power producer (IPP), Sunon Asogli Power Ghana Ltd, was established to build, own and
                    operate a 560MW power plant in Kpone, near Tema, comprising:
                    Phase I: 2X100 MW gas-steam combined cycle generation power units
                    Phase II: 2X360 MW gas-steam combined cycle generation power units
                </p>

                <p>
                    The two phases have been put into full commercial operation, and more than US$800 million has been
                    invested.
                    Plans are underway to build the first wind farm (50MW) in the country, as well as a 2,000MW
                    coal-fired power plant, that will not only bring down the cost of power, but make Ghana a net
                    exporter of power in the sub-region.

                </p>
            </div>

            <div class="services-details-image wow fadeInUp">
                <a href="http://sunonasogli.com/"><img src="assets/img/services-details/asogli-1.png" alt="image"></a>
            </div>
        </div>

        <!--        <div class="services-details-overview">-->
        <!--            <div class="services-details-image wow fadeInUp">-->
        <!--                <img src="assets/img/services-details/2.jpg" alt="image">-->
        <!--            </div>-->

        <!--            <div class="services-details-desc">-->
        <!--                <h3>Information Retrieval</h3>-->
        <!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer.</p>-->

        <!--                <div class="services-details-accordion">-->
        <!--                    <ul class="accordion">-->
        <!--                        <li class="accordion-item">-->
        <!--                            <a class="accordion-title active" href="javascript:void(0)">-->
        <!--                                <i class="fas fa-plus"></i>-->
        <!--                                Which material types can you work with?-->
        <!--                            </a>-->

        <!--                            <p class="accordion-content show">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
        <!--                        </li>-->

        <!--                        <li class="accordion-item">-->
        <!--                            <a class="accordion-title" href="javascript:void(0)">-->
        <!--                                <i class="fas fa-plus"></i>-->
        <!--                                Is Smart Lock required for instant apps?-->
        <!--                            </a>-->

        <!--                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>-->
        <!--                        </li>-->

        <!--                        <li class="accordion-item">-->
        <!--                            <a class="accordion-title" href="javascript:void(0)">-->
        <!--                                <i class="fas fa-plus"></i>-->
        <!--                                Why Choose Our Services In Your Business?-->
        <!--                            </a>-->

        <!--                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</section>
<!-- End Services Details Area -->
