<!-- Start Page Title Area -->
<div class="page-title-area item-bg2">
    <div class="container">
        <div class="page-title-content">
            <h2>Cloud Africa Ghana & UK Limited</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Subsidiary Details</li>
            </ul>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-desc">
                <h3>Innovation, Investment & Inclusion</h3>
                <p> Fintech is vital to connect millions of African mobile users towards social services such as sports
                    betting and ensuring subscribers have a one-stop shop to meet their daily needs - remittances, bill
                    payments, airtime, donations, sports betting, etc.
                </p>
                <p>
                    Cloud Africa is a financial technology company established in 2015 with a strong focus on the mobile
                    payment and value added services (VAS) space across Africa.
                    The company is strategizing to actively engage in the following areas - mobile payments, content
                    aggregation and content distribution (SMS, MMS, data services) in partnership with the mobile
                    carriers across Africa. It is a registered VAS provider and holds a number of interconnections in
                    order to monetise third party and proprietary mobile services.
                </p>
                <p>
                    Mobile payments is a primary focus for the UK company which will soon launch our mobile wallet under
                    the FastCash Africa brand.
                    Cloud Africa has local offices in many African countries including Ghana, Zambia, Nigeria, Sierra
                    Leone, Zimbabwe, and Kenya. The company envisages being present in over 15 African markets by Q1
                    2019.
                </p>
            </div>

            <div class="services-details-image wow fadeInUp">
                <img src="assets/img/services-details/cloudafrica-1.png" alt="image">
            </div>
        </div>

        <!--        <div class="services-details-overview">-->
        <!--            <div class="services-details-image wow fadeInUp">-->
        <!--                <img src="assets/img/services-details/2.jpg" alt="image">-->
        <!--            </div>-->

        <!--            <div class="services-details-desc">-->
        <!--                <h3>Information Retrieval</h3>-->
        <!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer.</p>-->

        <!--                <div class="services-details-accordion">-->
        <!--                    <ul class="accordion">-->
        <!--                        <li class="accordion-item">-->
        <!--                            <a class="accordion-title active" href="javascript:void(0)">-->
        <!--                                <i class="fas fa-plus"></i>-->
        <!--                                Which material types can you work with?-->
        <!--                            </a>-->

        <!--                            <p class="accordion-content show">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
        <!--                        </li>-->

        <!--                        <li class="accordion-item">-->
        <!--                            <a class="accordion-title" href="javascript:void(0)">-->
        <!--                                <i class="fas fa-plus"></i>-->
        <!--                                Is Smart Lock required for instant apps?-->
        <!--                            </a>-->

        <!--                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>-->
        <!--                        </li>-->

        <!--                        <li class="accordion-item">-->
        <!--                            <a class="accordion-title" href="javascript:void(0)">-->
        <!--                                <i class="fas fa-plus"></i>-->
        <!--                                Why Choose Our Services In Your Business?-->
        <!--                            </a>-->

        <!--                            <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</section>
<!-- End Services Details Area -->
