<!-- Start About Area -->
<section class="about-area ptb-110">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about/2.png" alt="image">
                    <img src="assets/img/about/1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>Engaging New Audiences through Smart Approach</h2>
                    <p>
                        Incorporated in 1983, Strategic Investment Limited (SIL) is a private equity and portfolio
                        investment firm that is focused on the promotion of new ventures, the identification and
                        acquisition of undervalued companies, and the investment in listed and unlisted companies.
                    </p>
                    <p>
                        In pursuing our objectives, we explore the investment environment to identify strategic
                        opportunities for the creation of new businesses, seeks collaboration with reputable companies
                        for the exploitation of identified opportunities, and analyses both listed an unlisted equity
                        markets to identify undervalued companies for the acquisition of majority or minority stakes.
                    </p>
                    <a routerLink="/about" class="btn btn-primary">Discover More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img1"><img src="assets/img/shape/1.png" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/2.svg" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/3.png" alt="image"></div>
    <div class="shape-img4"><img src="assets/img/shape/4.svg" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/5.svg" alt="image"></div>
    <div class="shape-img6"><img src="assets/img/shape/6.png" alt="image"></div>
    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot3.png" alt="image"></div>
</section>
<!-- End About Area -->
